<div class="container text-center">
  <div id="heading" class="mt-3 mb-5">
    <h1>Blogs</h1>
  </div>
  

  <div id="blogs">
    {{#each blognames}}
        <a class="mb-3" href="/blog/{{{ this }}}.txt"><h2>{{{ this }}}</h2></a>
    {{/each}}
  </div>
</div>


{{!-- <a href="/blog/{{{ blognames.[0] }}}.txt"><h2>{{{ blognames.[0] }}}</h2></a>
<a href="/blog/IDC.txt"><h2>Blog2</h2></a>
<a href="/blog/teaching_code.txt"><h2>Blog3</h2></a> --}}